*~
.idea
__pycache__
.env
bin/
cache/
composer-setup.php
composer.phar
conf.ini
conf/creds
dbr
playbook.retry
templates_c/
vendor/
xataface-2.1.3/
node_modules/
o2r/capper.config
o2r/capper.db
o2r/ssl
201*.sql
