;; http://xataface.com/wiki/How_to_build_a_PHP_MySQL_Application_with_4_lines_of_code

title="DRAFT! RAM Budget and Rewards"

[_database]
host=localhost
name=bees_ants
user=dconnolly
password=...
driver=mysqli

[_tables]
;; This section lists the tables to include in your application menu
admin_settings=Status
github_users=Users
reward=Reward
issue=Issue
budget_vote=Budget Vote
reward_vote=Reward Vote
issue_budget=Budget
pay_period=Pay Period
invoice_info=Invoice Info
invoice_formatted=Invoice Export

[_auth]
users_table = github_users
username_column = login
password_column = login

[history]
enabled = 1



;; [Tue Jan 30 18:01:06.515269 2018] [:error] [pid 13693] [client 127.0.0.1:55170] PHP Fatal error:  Uncaught Error: Call to undefined function mysql_connect() in /var/www/html/rchain-bees-ants/xataface-2.1.3/xf/db/drivers/mysql.php:2\nStack trace:\n#0 /var/www/html/rchain-bees-ants/xataface-2.1.3/Dataface/Application.php(602): xf_db_connect('localhost', 'dconnolly', 'Aim1b')\n#1 /var/www/html/rchain-bees-ants/xataface-2.1.3/Dataface/Application.php(1078): Dataface_Application->Dataface_Application(Array)\n#2 /var/www/html/rchain-bees-ants/xataface-2.1.3/public-api.php(58): Dataface_Application::getInstance(NULL)\n#3 /var/www/html/rchain-bees-ants/index.php(6): df_init('/var/www/html/r...', 'xataface')\n#4 {main}\n  thrown in /var/www/html/rchain-bees-ants/xataface-2.1.3/xf/db/drivers/mysql.php on line 2
;; http://xataface-tips.blogspot.ca/2014/06/using-mysqli-in-xataface.html
