;; http://xataface.com/wiki/How_to_build_a_PHP_MySQL_Application_with_4_lines_of_code

title="RChain Bounty Budget and Rewards (BETA)"
[_xataface_installation]
xataface_location=xataface-2.1.3/dataface-public-api.php

[_database]
host={{ db_host }}
name={{ db_name }}
user={{ db_user }}
password={{ db_password }}
;; avoid:
;; PHP Fatal error:  Uncaught Error: Call to undefined function mysql_connect()
;; http://xataface-tips.blogspot.ca/2014/06/using-mysqli-in-xataface.html
driver=mysqli

[_tables]
;; This section lists the tables to include in your application menu
admin_settings=Status
github_users=Users
reward=Reward
issue=Issue
budget_vote=Budget Vote
reward_vote=Reward Vote
issue_budget=Budget
pay_period=Pay Period
invoice_info=Invoice Info
invoice_formatted=Invoice Export

[_auth]
auth_type=XDB
users_table = github_users
username_column = login
;;This next field is called the password_column, however we are using it in this case as a temporary session token. 
;;We are sticking with the "password_column" name here because it is the name that the xataface built in
;;authentication and session management uses. See here: http://xataface.com/wiki/authentication
password_column = session_token
verified_coop_column = verified_coop

[password]
    encryption=md5
    
[history]
enabled = 1

[github_oauth]
github_app_client_id = {{ gh_client_id }}
github_app_client_secret = {{ gh_client_secret }}
github_api_url = https://github.com/login/oauth/access_token

[discord_oauth]
discord_coop_role = {{ discord_coop_role }}
rchain_guild_id = {{ rchain_guild_id }}
discord_client_id = {{ discord_client_id }}
discord_client_secret = {{ discord_client_secret }}
discord_redirect_uri = {{ discord_redirect_uri }}
discord_bot_token = {{ discord_bot_token }}
