[Unit]
Description=dbr_aux under uWSGI
After=network.target

[Service]
User=www-data
Group=www-data
# TODO: parameterize htdocs
WorkingDirectory=/var/www/html/trust_sync
ExecStart=/usr/bin/uwsgi --ini dbr_aux.ini

[Install]
WantedBy=multi-user.target
