{use_macro file="Dataface_Main_Template.html"}
    {fill_slot name="main_column"}
        <h1>Welcome to the RAM Distributed Budgeting and Reward System</h1>

<p>Current pay period: <strong>{$current_pay_period}</strong></p>

<ul>
  <li><a href="{$ENV.DATAFACE_SITE_HREF}?-table=issue&-action=list&-sort=num+desc">Recent Issues</a></li>
  <li><a href="{$ENV.DATAFACE_SITE_HREF}?-table=issue_budget">Recent Issue Budgets</a></li>
  <li><a href="{$ENV.DATAFACE_SITE_HREF}?-table=github_users&amp;-action=related_records_list&amp;-mode=list&amp;-recordid=github_users%3Flogin%3D{$login}&-relationship=Reward">Rewards for {$login}</a></li>
</ul>
    {/fill_slot}
{/use_macro}
